<div id="{{ html_id }}" class="card my-2">
    <div class="card-header py-1 px-2 filter-header">{{ column.title }}
        <div class="px-2 section-header-right" data-target="#{{ html_id }}-panel" data-toggle="collapse">
            <i class="expandicon"></i>
        </div>
    </div>
    <div class="card-body p-2 collapse show" id="{{ html_id }}-panel">
        {% block content %}
            <div class="filter-content">
            </div>
        {% endblock %}
    </div>
</div>
{% block javascript %}
{% endblock %}
<script>
    $("#{{ html_id }} .filter-header").click(function () {
        $($(this).attr('data-target')).toggle(200)
    })
    django_datatables.add_filter('{{ table.html_id }}', filter)
</script>