{% extends 'datatables/filter_blocks/base_filter_block.html' %}
{% load datatable_tags %}

{% block content %}
    <div class="row pb-2">
        <div class="col-6 text-center">
            <a class="small all-check" href="javascript:void(0);"><i style="font-size: large" class="fas fa-check-square"></i></a>
        </div>
        <div class="col-6 text-center">
            <a class="small none-check" href="javascript:void(0);"><i style="font-size: large" class="far fa-square"></i></a>
        </div>
    </div>
    <div class="filter-content">
    </div>
{% endblock %}

{% block javascript %}
    <script>
        filter = {
            init: function (table) {
                this.total = {}
                this.pTable = table
                this.pTable.table.api().column({{ column_no }}).data().reduce(function (acc, current) {
                    add_to_sum(current, acc, 1);
                    return acc;
                }, this.total);
                this.html();

                // restore saved state
                try {
                    state_data = table.table.api().state.loaded().columns[{{ column_no }}].pivot_filter
                    $('#{{ html_id }} .filtercheck').each(function () {
                        $(this).prop('checked', state_data[$(this).attr('data-value')])
                    })
                } catch (e) {
                    console.log(e)
                }
            },

            save_state: function (data) {
                data.columns[{{ column_no }}].pivot_filter = {}
                $("#{{ html_id }} .filtercheck").each(function () {
                    data.columns[{{ column_no }}].pivot_filter[$(this).attr('data-value')] = $(this).prop('checked')
                })
            },

            filter: function (data) {
                var col_data = data[{{ column_no }}]
                if (typeof (col_data) == 'number') col_data = col_data.toString();
                if (this.filter_data.indexOf(col_data) < 0) {
                    if (col_data == "" | col_data == null) {
                        if (this.filter_data.indexOf("null") < 0) return false
                    } else return false
                }
                return true
            },

            refresh: function () {
                reset_totals_single(this.total)
                this.pTable.table.api().column({{ column_no }}, {"filter": "applied"}).data().reduce(function (acc, current) {
                    add_to_sum(current, acc, 1);
                    return acc;
                }, this.total)
                totals = this.total
                $("#{{ html_id }} .badge").each(function () {
                    var result = totals[decodeURI($(this).attr("data-value"))]
                    set_badge(this, result[0], result[1])
                })
            },

            buildfilter: function (data) {
                if (data != undefined) {
                    this_filter = data.data.filter
                    refresh = true
                } else {
                    this_filter = this
                    refresh = false
                }
                this_filter.filter_data = []
                $("#{{ html_id }} .filtercheck:checked").each(function () {
                    this_filter.filter_data.push(decodeURI($(this).attr("data-value")))
                }).promise().done(function () {
                    if (refresh) this_filter.pTable.table.api().draw();
                })
            },

            html: function () {
                htmlcheckbox = `{% include 'datatables/filter_rows/checkbox_filter.html' %}`
                htmldata = ''
                sortkeys = []
                for (i in this.total) {
                    if (this.total[i][0] > 0) sortkeys.push(i)
                }
                sortkeys.sort()
                for (j = 0; j < sortkeys.length; j++) {
                    i = sortkeys[j]
                    htmldata += htmlcheckbox.replace(/%1/g, i).replace(/%6/g, encodeURI(i))
                }
                $('#{{ html_id }} .filter-content').html(htmldata)
                $("#{{ html_id }} .filtercheck").change({filter: this}, this.buildfilter)
                $("#{{ html_id }} .all-check").click({filter: this, checked: true}, this.checkall)
                $("#{{ html_id }} .none-check").click({filter: this, checked: false}, this.checkall)
            },

            checkall: function (data) {
                this_filter = data.data.filter
                $("#{{ html_id }} .filtercheck").each(function () {
                    $(this).prop('checked', data.data.checked)
                }).promise().done(function () {
                    this_filter.buildfilter(data)
                });
            },
        }
    </script>
{% endblock %}