{% extends 'datatables/filter_blocks/pivot_filter.html' %}

{% block content %}
    <div class="filter-content">
        {% for f in kwargs.filter_list %}
            {% include 'datatables/filter_rows/checkbox_python.html' with data_value=f.1 text=f.0 %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        if (django_datatables.PythonPivotFilter === undefined) {
            django_datatables.PythonPivotFilter = function (column_no, html_id, options, option_values) {
                django_datatables.PivotFilter.call(this, column_no, html_id, options);

                // The checkboxes are rendered by the Django template from the
                // filter_list, so html() only binds them instead of building
                // the DOM from row data like the parent PivotFilter.
                this.html = function () {
                    var context = $('#' + this.html_id);
                    $(".filtercheck", context).change(this.this_fn('buildfilter', true));
                    $(".all-check", context).click(this.this_fn('checkall', true));
                    $(".none-check", context).click(this.this_fn('checkall', false));
                    this.restore_state();
                    this.buildfilter(false);
                };

                var has_other = option_values.indexOf('other') >= 0;
                var calcs = new django_datatables.FilterCalcs(column_no);
                for (var o = 0; o < option_values.length; o++) {
                    calcs.calcs[option_values[o]] = [0, 0];
                }

                // Map a row value onto one of the fixed options; unlisted
                // values land in the 'other' bucket when one is defined and
                // are otherwise ignored.
                calcs.bucket = function (key) {
                    if (typeof key === 'number') key = key.toString();
                    if (key === '' || key == null) key = 'null';
                    if (key in this.calcs) return key;
                    return has_other ? 'other' : null;
                };

                calcs.tally = function (row, index) {
                    var value = this.get_value(row);
                    var keys = this.get_key(row);
                    if (!Array.isArray(keys)) keys = [keys];
                    for (var k = 0; k < keys.length; k++) {
                        var b = this.bucket(keys[k]);
                        if (b !== null) this.calcs[b][index] += value;
                    }
                };

                calcs.init_calcs = function (row) {
                    this.count += 1;
                    this.tally(row, 1);
                };

                calcs.add_calcs = function (row) {
                    this.tally(row, 0);
                };

                this.filter_calcs = calcs;

                this.filter = function (data) {
                    var b = this.filter_calcs.bucket(data[this.column_no]);
                    // Values outside the option list with no 'other' bucket
                    // are not filtered at all.
                    if (b === null) return true;
                    return this.filter_data.indexOf(b) >= 0;
                };
            };
            django_datatables.PythonPivotFilter.prototype = Object.create(django_datatables.PivotFilter.prototype);
        }
        var new_filter = new django_datatables.PythonPivotFilter({{ column_no }}, '{{ html_id }}', {},
            {{ options|safe }});
    </script>
{% endblock %}
