{% spaceless %}
    <script>
     django_datatables.data_processing.hhmm = function (column, params, table) {
                django_datatables.BaseProcessAjaxData.call(this, column, params, table)
                this.convert = function (current, value) {
                    value = this.determine_value(value)
                    const divmod = (x, y) => [Math.floor(x / y), x % y];
                    var total_seconds = value?value:0
                    if(total_seconds === 0) {
                        return ''
                    }
                    var sign = ""
                    if(total_seconds < 0) {
                        sign = '-'
                    }
                    total_seconds = Math.abs(total_seconds)
                    var result = divmod(total_seconds, 60)
                    //var seconds = result[1]
                    result = divmod(result[0], 60)

                    var mins = result[1]
                    if(mins < 10) {
                        mins += '0'
                    }
                    return sign + result[0] + ':' + mins
                }.bind(this)
            }
     django_datatables.data_processing.hhmm.prototype = Object.create(django_datatables.BaseProcessAjaxData.prototype);
    </script>
    <table id="{{ datatable.table_id }}" class="{{ datatable.table_class }}">
        <thead>
        <tr{% if datatable.table_options.no_titles %} class="d-none"{% endif %}>
            {% for t in datatable.all_titles %}
                <th>{{ t }}</th>
            {% endfor %}
        </tr>
        {% if not datatable.table_options.no_col_search %}
            <tr class="column-search-header">
                {% include 'datatables/search_boxes.html' with table=datatable %}
            </tr>
        {% endif %}
        </thead>
        {% if not datatable.table_options.nofooter %}
            <tfoot>
            <tr>
                {% for t in datatable.all_titles %}
                    <th>{{ t }}</th>{% endfor %}
            </tr>
            </tfoot>
        {% endif %}
    </table>

    <script>
        $(document).ready(function () {
            {{ datatable.table_id }}_configuration = {{ datatable.col_def_str|safe }};

            new django_datatables.PythonTable("{{ datatable.table_id }}", {{ datatable.table_id }}_configuration);


        })
    </script>
{% endspaceless %}