<!doctype html>
{% load static ajax_helpers %}

<html>
<head>
    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'Modals' 'Toggle' 'select2' 'JQueryUI' 'TinyMce' module='django_modals.includes' %}
    {% lib_include module='django_menus.includes' %}
    {% lib_include module='show_src_code.includes' %}
    {% lib_include 'datatable' module='django_datatables.includes' %}
</head>
<body>
<div class="p-4">
    <h4>{{ title }}</h4>
    {{ description|safe }}
    <br>
    <br>
    <a href="{% url 'example1' %}" class="btn btn-primary">Example 1</a>
    <a href="{% url 'example2' %}" class="btn btn-primary">Example 2</a>
    <a href="{% url 'example3' %}" class="btn btn-primary">Example 3</a>
    <a href="{% url 'example4' %}" class="btn btn-primary">Example 4</a>
    <a href="{% url 'example5' %}" class="btn btn-primary">Example 5</a>
    <a href="{% url 'example6' %}" class="btn btn-primary">Example 6</a>
    <a href="{% url 'example7' %}" class="btn btn-primary">Example 7</a>
    <a href="{% url 'example8' %}" class="btn btn-primary">Example 8</a>
    <a href="{% url 'example9' %}" class="btn btn-primary">Example 9</a>
    <a href="{% url 'example10' %}" class="btn btn-primary">Example 10</a>
    <a href="{% url 'example11' %}" class="btn btn-primary">Example 11</a>
    <a href="{% url 'example12' %}" class="btn btn-primary">Example 12</a>
    <a href="{% url 'example13' %}" class="btn btn-primary">Example 13</a>
    <a href="{% url 'widget' %}" class="btn btn-primary">Widget</a>
    <a href="{% url 'reorder' %}" class="btn btn-primary">Reorder</a>
</div>

{% block table %}
{% endblock %}

</body>
</html>