{% extends 'base.html' %}
{% load datatable_tags %}

{% block table %}
    <div class="form-inline">
        <button class="btn m-2" onclick="django_datatables.DataTables['{{ datatable.table_id }}'].send_column('get_csv', 'id')">
            <i style="font-size: 28px" class="filter-header-icon fas fa-file-csv"></i>
        </button>
    </div>

    <div class="" style="display: flex">
        <div class="pr-0" style="max-height: calc(100vh - 110px);overflow: auto;width: 280px;flex-shrink: 0">
            {% filter_control datatable %}
        </div>
        <div class="mx-2 w-100" style="display: inline-block">
            <div class="border rounded">
                {{ datatable.render|safe }}
            </div>
        </div>
    </div>
{% endblock %}